body {
  padding: 16px;
}

input[type=number] {
  display: block;
  margin: 6px auto;
}

.summary {
  margin: 10px auto;

  background: #f2f2f2;
  max-width: 300px;
}

.taxes {
  display: flex;
  justify-content: space-between;
}

.label + span {
  font-weight: bold;
}

.label + span:before {
  content: 'CHF '
}
